
@model PagedList.IPagedList<YearBudget>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Yearly Budget Referrence</h2>
            <div class="panel panel-default">
                <div class="panel-heading"><a href="@Url.Action("Create","Budgets")" class="btn btn-success btn-sm">Create New</a></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th width="100" class="text-center">Year</th>
                            <th class="text-center">Created By</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        @foreach (YearBudget yb in Model)
                        {
                            <tr>
                                <td class="text-center"><span style="color:coral;font-size:small;font-weight:bolder;">@yb.Year Budget</span></td>
                                <td><strong>@yb.CreatedBy</strong></td>
                                <td>
                                    <a href="@Url.Action("Year","Budgets",new { id = yb.ID })" class="btn btn-success">USE</a>
                                    <a href="#" class="btn btn-info">UPDATE</a>
                                    <a href="#" class="btn btn-danger">CANCEL</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="pagination">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
