<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@Url.Content("~/Content/img/favicon.png")" type="image/x-icon">
    <title>@ViewBag.Title</title>
    
    <!-- Bootstrap Core CSS -->
    @Scripts.Render("~/sb-admin-js")
    @Styles.Render("~/Content/css")
  
    @Styles.Render("~/font-awesome")
    <style>
        body{
            font-family: arial,sans-serif;
        }
        a { cursor: pointer; }
        .htCore thead tr th{
            color: white;
            font-size: 15px;
            font-family: arial,sans-serif;
            background-color: #2ECC71;
        }
        .htCore tbody tr td{
            font-size: 12px;
            font-family: arial,sans-serif;
        }
        .htMenu {
            z-index:2000;
        }
        #ors_modal .modal-dialog {
            width :70%;
        }
    </style>
    <script>
        function numberWithCommas(x) {
            if (x == 0 || x == null) {
                return null;
            }
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>
</head>
<body style="background-color:#E5E7E9;">
    
    @Html.Partial("nav_header")
    @RenderBody()
    
    @Html.Partial("modals")
    @RenderSection("footer",required: false)
    <!-- Begin page content -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- SB ADMIN SCRIPTS -->
    @RenderSection("scripts", required: false)
</body>
</html>
