@using Microsoft.AspNet.Identity
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-color:white;min-height: 20px;">
    <div class="navbar-header" style="background-color:white;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="background-color:#2ECC71;color:white;">Budget Sys </a>
    </div>
    @if (Session["year"] != null)
    {
        <ul class="nav navbar-top-links navbar-left" style="background-color:white;color:#000;">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>ORS <i class="fa fa-caret-down"></i></b>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li><a href="@Url.RouteUrl("ors_ps")">ORS - Personnel Services</a></li>
                    <li><a href="@Url.RouteUrl("ors_mooe")">ORS - MOOE</a></li>
                    <li><a href="@Url.RouteUrl("ors_vtf")">ORS - VTF</a></li>
                    <li><a href="@Url.RouteUrl("ors_co")">ORS - CO</a></li>
                </ul>
            </li>
           
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Budget Allotments <i class="fa fa-caret-down"> </i> </b>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li><a href="@Url.RouteUrl("GAA_Personnel_Services")">GAA (Personnel Services)</a></li>
                    <li><a href="@Url.Action("MOOE","Home")">MOOE</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Upload Documents <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="javascript:void(0);" id="gaa_upload" data-url="@Url.Action("UploadGaa","Home")">
                            GAA Upload
                        </a>
                    </li>
                    <li class="divider"></li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Budget Reports <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="@Url.Action("Report","Home")">Budget Reports</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Master Data <i class="fa fa-caret-down"> </i> </b>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li><a href="@Url.Action("ExpenseCodes","ExpenseCodes")">UACS Expense Codes</a></li>
                    <li><a href="@Url.Action("Prexc","ExpenseCodes")">PREXC</a></li>
                    <li><a href="@Url.Action("Index","FundSource")">Fund Sources</a></li>
                    <li><a href="@Url.Action("Index","Budgets")">Yearly Budget Reference</a></li>
                </ul>
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("Logoff","Account")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <li><strong style="font-size:18px;font-family:sans-serif;">@ViewBag.Menu</strong></li>
            <!-- /.dropdown -->
        </ul>
    }
    
    
    <!-- /.navbar-header -->
    
  </nav>