
<div class="row">
    <div class="col-md-12">
        <h3>ORS Reports Summary</h3>
        <form role="form" id="form-filter" action="@Url.Action("OrsSummary","Reports")" method="post" data-excel="@Url.Action("OrsSummary","Reports")">
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td>Select Fundsource</td>
                    <td>
                        <select name="fundsource" multiple class="form-control" style="height:200px;">
                            <option value="" selected disabled>Select Value</option>
                            @foreach (FundSourceHdr fsh in Model)
                            {
                                <option value="@fsh.Code">@fsh.Code</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date From</td>
                    <td><input type="date" name="dateFrom" required class="form-control" /></td>
                </tr>
                <tr>
                    <td>Date To</td>
                    <td><input type="date" name="dateTo" required class="form-control" /></td>
                </tr>
                <tr>
                    <td>Keyword</td>
                    <td><input type="text" name="q" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Display Mode</td>
                    <td>
                        <label for="displayMode">Excel</label>
                        <input type="radio" name="displayMode" value="true" required />
                        <label for="displayMode">Web Page</label>
                        <input type="radio" name="displayMode" value="false" required />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-arrow-down"></span> Download</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("input[name='displayMode']").change(function () {
            var val = $(this).val();
            if (val == "true") {
                var url = $("#form-filter").data('excel');
                $("#form-filter").attr('action', url);
                $("#form-filter").attr('method', 'POST');
            } else {
                $("#form-filter").attr('action', null);
                $("#form-filter").attr('method', 'GET');
            }
        });
    });
    
</script>
