
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td><strong>Particulars</strong></td>
                            <td>@Model.Particulars</td>
                        </tr>
                        <tr>
                            <td><strong>Payee</strong></td>
                            <td>@Model.PAYEE</td>
                        </tr>
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>@Model.Adress</td>
                        </tr>
                        <tr>
                            <td><strong>Fund Source</strong></td>
                            <td>@Model.FundSource</td>
                        </tr>
                        @if (Model.PR != null)
                        {
                            <tr>
                                <td><strong>PR #</strong></td>
                                <td>@Model.PR</td>
                            </tr>
                        }
                        
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="table_uacs" style="width: 100%; height: 200px; overflow: hidden;" data-originalstyle="width: 90%; height: 200px; overflow: hidden"  data-save="@Url.Action("SaveOrsObligation","ORS")" data-get_fund_source_uacs="@Url.Action("GetFundSourceUACS","ORS",new { ID = ViewBag.ors_obligation })" data-get="@Url.Action("GetORSUacs","ORS", new { ID = ViewBag.ors_obligation })" data-ors_obligation="@ViewBag.ors_obligation" data-delete="@Url.Action("DeleteUacs","ORS")"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function () {
        var fundsource_uacs = [];
        var fundsource_uacs_url = $("#table_uacs").data('get_fund_source_uacs');
        var container_uacs = document.getElementById("table_uacs");
        var table_uacs;
        var valid = true;
        

        table_uacs = new Handsontable(container_uacs, {
            startRows: 50,
            startCols: 5,
            rowHeaders: true,
            colWidths: [1, 200, 300, 200,200],
            stretchH: 'all',
            colHeaders: true,
            contextMenu: ['row_above', 'row_below', 'remove_row', 'copy'],
            manualColumnMove: true,
            fillHandle: {
                autoInsertRow: false,
            },
            viewportColumnRenderingOffset: 20,
            colHeaders: ['ID', 'UACS', 'Title', 'Amount','Disbursement'],
            columns: [
                {}, { type: 'dropdown', source: fundsource_uacs }, {}, {}, {}
            ],
            cells: function (r, c, prop) {
                var cellProperties = {};
                if (c === 0 || c === 2 @(User.IsInRole("Cashier") ? " || c === 1 || c === 3" : "") ) cellProperties.readOnly = true;
                return cellProperties;
            },
            beforeRemoveRow: function (index, column) {
                if (confirm("Are you sure you want to delete this item") == true) {
                    var items = this.getData();
                    var row_item = items[index];
                    var url = $("#table_uacs").data('delete');

                    var data = {
                        "ID": row_item[0]
                    };

                    $.post(url, data, function (resdata) {
                        alert(resdata);
                    });
                    return true;
                } else {
                    return false;
                }
            }
        });
        $(document).ready(function () {
            var url = $("#table_uacs").data('get');
            $.get(url, function (resdata) {
                if (resdata.length > 0) {
                    var tabledata = [];
                    var total;
                    for (var i = 0; i < resdata.length; i++) {
                        tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['ExpenseCode'], resdata[i]['Title'], numberWithCommas(resdata[i]['Amount']), numberWithCommas(resdata[i]['Disbursement']));
                    }
                    table_uacs.loadData(tabledata);
                }
            });

            $.get(fundsource_uacs_url, function (expense_res) {
                if (expense_res.length > 0) {
                    for (var i = 0; i < expense_res.length; i++) {
                        fundsource_uacs[i] = expense_res[i]["Code"];
                    }
                }
            });
        });

        $("#submit_ors_save").click(function () {
            var ors_obligation = $("#table_uacs").data('ors_obligation');

            var tabledata = table_uacs.getData();
            var expense = [];
            for (var i = 0; i < tabledata.length; i++) {
                expense[i] = {
                    "ID": tabledata[i][0],
                    "expense_code": tabledata[i][1],
                    "amount": tabledata[i][3],
                    "Disbursement" : tabledata[i][4]
                };
            }
            var data = {
                ID: ors_obligation,
                data: JSON.stringify(expense)
            };
            var url = $("#table_uacs").data('save');

            $.post(url, data, function (resdata) {
                if (resdata.length > 0) {
                    var tabledata = [];
                    var total;
                    for (var i = 0; i < resdata.length; i++) {
                        tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['ExpenseCode'], resdata[i]['Title'], numberWithCommas(resdata[i]['Amount']), numberWithCommas(resdata[i]['Disbursement']));
                    }
                    table_uacs.loadData(tabledata);
                }
            });

        });
    })();
    
</script>

