
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success" style="margin-top:10px;">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>ORS UACS Amount Entry
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:void(0)" id="submit">Save</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <td><strong>Particulars</strong></td>
                                    <td>@Model.Particulars</td>
                                </tr>
                                <tr>
                                    <td>Payee</td>
                                    <td>@Model.PAYEE</td>
                                </tr>
                                <tr>
                                    <td><strong>Address</strong></td>
                                    <td>@Model.Adress</td>
                                </tr>
                                <tr>
                                    <td><strong>Fund Source</strong></td>
                                    <td>@Model.FundSource</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="table_uacs" style="width: 500px; height: 200px; overflow: hidden" data-originalstyle="width: 400px; height: 200px; overflow: hidden" data-expense="@Url.RouteUrl("get_expense_codes_number")" data-save="@Url.Action("SaveOrsObligation","ORS")" data-get="@Url.Action("GetORSUacs","ORS", new { ID = ViewBag.ors_obligation })" data-ors_obligation="@ViewBag.ors_obligation" data-delete="@Url.Action("DeleteUacs","ORS")"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
       var expense_codes = [];
       var container = document.getElementById("table_uacs");
       var table;
       var valid = true;
       var expense_url = $("#table").data('expense');
       table = new Handsontable(container, {
           startRows: 50,
           startCols: 4,
           manualColumnResize: true,
           rowHeaders: true,
           colWidths: [1, 200, 300, 300],
           stretchH: 'all',
           colHeaders: true,
           contextMenu: ['row_above','row_below','remove_row','copy'],
           manualColumnMove: true,
           fillHandle: {
               autoInsertRow: false,
           },
           viewportColumnRenderingOffset: 20,
           colHeaders: ['ID','UACS','Title','Amount'],
           columns : [
              {}, { type: 'dropdown', source: expense_codes }, {}, {}
           ],
           cells: function (r, c, prop) {
               var cellProperties = {};
               if (c === 0) cellProperties.readOnly = true;
               return cellProperties;
           },
           beforeRemoveRow: function (index, column) {
               var items = this.getData();
               var row_item = items[index];
               var url = $("#table").data('delete');

               var data = {
                   "ID": row_item[0]
               };

               $.post(url, data, function (resdata) {
                alert(resdata);
               });
           }
       });
       $(document).ready(function () {
           var url = $("#table").data('get');
           $.get(url, function (resdata) {
               if (resdata.length > 0) {
                   var tabledata = [];
                   var total;
                   for (var i = 0; i < resdata.length; i++) {
                       tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['ExpenseCode'], resdata[i]['Title'], numberWithCommas(resdata[i]['Amount']));
                   }
                   table.loadData(tabledata);
               }
           });
           $.get(expense_url, function (expense_res) {
               if (expense_res.length > 0) {
                   for (var i = 0; i < expense_res.length; i++) {
                       expense_codes[i] = expense_res[i]["Code"];
                   }
               }
           });
       });

       $("#submit").click(function () {
           $("#loading_modal").modal('show');
           var ors_obligation = $("#table").data('ors_obligation');
          
           var tabledata = table.getData();
           var expense = [];
           for (var i = 0; i < tabledata.length; i++)
           {
               expense[i] = {
                   "ID": tabledata[i][0],
                   "expense_code": tabledata[i][1],
                   "amount" : tabledata[i][3]
               };
           }
           var data = {
               ID: ors_obligation,
               data: JSON.stringify(expense)
           };
           var url = $("#table").data('save');
           
            $.post(url, data, function (res) {
                $(".panel-body").html(res);
                $("#loading_modal").modal('hide');
            });
           
       });
    </script>

