
@{
    ViewBag.Title = "ORS";
}

<div style="width: 100%;overflow: hidden;"  id="ors_table" data-get="@Url.RouteUrl("get_ors_ps")" data-save="@Url.RouteUrl("save_ors_ps")" data-delete="@Url.RouteUrl("delete_ors_ps")"  data-allotments="@Url.Action("GetFundSource","ORS",new { ID = ViewBag.allotments })" data-print_ors="@Url.Action("PrintOrsPS","ORSReports")" data-uacs_amount="@Url.Action("ORS_UACS","ORS")"></div>

@section scripts {
    <script>
        
        var fund_source = [];
        var container = document.getElementById("ors_table");
        var table;
        var valid = true;
        var expense_url = $("#ors_table").data('expense');
        var allotments_url = $("#ors_table").data('allotments');
        //35 cols
       table = new Handsontable(container, {
           startRows: 50,
           startCols: 17,
           manualColumnResize: true,
           rowHeaders: true,
           colWidths: [1,1,140, 200, 200, 200, 300, 300, 700, 100,200,200,200,200,200,200,200],
           colHeaders: true,
           filters: true,
           stretchH: 'all',
           dropdownMenu: true,
           contextMenu: {
               items: {
                   "make_bold": {
                       name: 'Print ORS',
                       callback: function(key, options) {
                           var selection = this.getSelectedRange();
                           var fromRow = Math.min(selection.from.row, selection.to.row);
                           var tempdata = this.getData();
                           var id = tempdata[fromRow][0];
                           if (id) {
                               var url = $("#ors_table").data('print_ors') + "/" + id;
                               window.location.href = url;
                           }
                       }
                   },
                   "": {
                       name: 'UACS Amount Entry',
                       callback: function (key, options) {
                           var selection = this.getSelectedRange();
                           var fromRow = Math.min(selection.from.row, selection.to.row);
                           var tempdata = this.getData();
                           var id = tempdata[fromRow][0];
                           if (id) {
                               var url = $("#ors_table").data('uacs_amount') + "/" + id;
                               
                               $("#ors_modal").modal({
                                   backdrop: 'static',
                                   keyboard: false,
                                   show: true
                               });
                               $(".ors_body").html('');
                               $(".loading").show();
                               $.get(url, function (res) {
                                   $(".ors_body").html(res);
                                   $(".loading").hide();
                               });
                           }
                       }
                   }, "row_below": {}, "remove_row": {},
                   
               }
           },
           manualColumnMove: true,
           fillHandle: {
               autoInsertRow: false,
           },
           colHeaders: ['<b>ID</b>','<b>ROW#</b>','<b>DATE</b/>', '<b>DV</b>', '<b>PO#</b>', '<b>PR#</b>', '<b>PAYEE</b>', '<b>ADDRESS</b>', '<b>PARTICULARS</b>', '<b>ORS NO</b>','<b>FUND SOURCE</b>', '<b>GROSS</b>','<b>CREATED BY</b>','<b>Date Received</b>','<b>Time Received</b>','<b>Date Released</b>','<b>Time Released</b>',''],
           columns: [
               {},
               {},
               {
                   type: 'date',
                   dateFormat: 'MM/DD/YYYY',
                   correctFormat: true,
                   defaultDate: Date.now()
               }, {}, {}, {}, {}, {}, {}, {},
               {
                   type: 'dropdown',
                   source: fund_source
               },
               {},
               {},
               {
                   type : 'date',
                   dateFormat : 'MM/DD/YYYY',
                   correctFormat : true,
                   defaultDate : Date.now()
               },
               {
                   type: 'time',
                   timeFormat: 'HH:mm:ss',
                   correctFormat: true
               },
               {
                   type: 'date',
                   dateFormat: 'MM/DD/YYYY',
                   correctFormat: true,
                   defaultDate: Date.now()
               },
               {
                   type: 'time',
                   timeFormat: 'HH:mm:ss',
                   correctFormat: true
               }, {}
           ],
           cells: function (r, c, prop) {
               var cellProperties = {};
               if (c === 0 || c === 1 || c == 9 || c == 11 || c == 12) cellProperties.readOnly = true;
               return cellProperties;
           },
           beforeRemoveRow: function (index, column) {
               if (confirm("Are you sure you want to delete this item") == true) {
                   var items = this.getData();
                   var row_item = items[index];
                   var url = $("#ors_table").data('delete');

                   var ps = {
                       "ID": row_item[0]
                   };
                   var data = {
                       data: JSON.stringify(ps)
                   };

                   $.post(url, data, function (resdata) {

                   });
                   return true;
               } else {
                   return false;
               }
           },
           afterValidate: function (isValid, value, row, prop, source) {
               if (!isValid) {
                   valid = false;
                   alert('there exists an invalid cell, disable save');
               } else { valid = true;}
           },
       });


       $(document).ready(function () {
           $("#loading").modal('show');
           resize();
           load_data();

           $.get(allotments_url, function (response) {
               if (response.length > 0) {
                   for (var i = 0; i < response.length; i++) {
                       fund_source[i] = response[i]["Code"];
                   }
               }
           });

       });
       $(window).bind('keydown', function (event) {
           if (event.ctrlKey || event.metaKey) {
               switch (String.fromCharCode(event.which).toLowerCase())
               {
                   case 's':
                       event.preventDefault();
                       document.body.style.cursor = 'wait';
                       if (valid == true) {
                           var url = $("#ors_table").data('save');
                           var orsps = [];
                           var data = table.getData();
                           for (var i = 0; i < data.length; i++) {
                               orsps[i] = {
                                   "ID": data[i][0],
                                   "Row": (i + 1),
                                   "Date": data[i][2],
                                   "DB": data[i][3],
                                   "PO": data[i][4],
                                   "PR": data[i][5],
                                   "PAYEE": data[i][6],
                                   "Adress": data[i][7],
                                   "Particulars": data[i][8],
                                   "FundSource": data[i][10],
                                   "DateReceived" : data[i][13],
                                   "TimeReceived": data[i][14],
                                   "DateReleased": data[i][15],
                                   "TimeReleased": data[i][16]
                               }
                           }
                           var data = {
                               data: JSON.stringify(orsps)
                           };

                            $.post(url, data, function (resdata) {
                                load_data();
                                document.body.style.cursor = 'default';
                            });
                       } else {
                           alert("Failed to save because theres an ivalid data inputed. See the color red in each rows to indentify errors.");
                       }

                   break;
               }
           }
       });
       $("#ors_uacs_close").click(function () {
           load_data();
       });
    
       function load_data()
       {
           var url = $("#ors_table").data('get');
           
           $.get(url, function (resdata) {
               var tabledata = [];
               if (resdata.length > 0) {
                   for (var i = 0; i < resdata.length; i++) {
                       tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['Row'], resdata[i]['Date'], resdata[i]['DB'], resdata[i]['PO'], resdata[i]['PR'], resdata[i]['PAYEE'], resdata[i]['Adress'], resdata[i]['Particulars'], resdata[i]['Row'],resdata[i]['FundSource'], numberWithCommas(resdata[i]['Gross']), resdata[i]['Created_By'], resdata[i]['DateReceived'], resdata[i]['TimeReceived'], resdata[i]['DateReleased'], resdata[i]['TimeReleased'],'');
                   }
                   $("#loading").modal('hide');
                   table.loadData(tabledata);
               } else {
                   for (var i = 0; i < 50; i++) {
                       tabledata[i] = new Array(null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null);
                   }
                   $("#loading").modal('hide');
                   table.loadData(tabledata);
               }

               $("#loading").modal('hide');
           });
       }
      
    </script>
}

@section footer{
    @Html.Partial("footer")
}