@model IEnumerable<Allotments>
@{
    ViewBag.Title = "Budget Summary";
}

<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <h4>STATEMENT OF ALLOTMENT, OBLIGATIONS AND BALANCES SUMMARY</h4>
            <button class="btn btn-primary btn-sm pull-right"> <span class="glyphicon glyphicon-filter">Filter</span></button>
            <div class="table-responsive summary" data-get="@Url.Action("GetSaob","BudgetSummary")">
                
            </div>
        </div>
    </div>
</div>

@section css {
    <style>
        #summary tr th {
            font-size : xx-small;
            text-align:center;
            font-weight:bold;
        }
        .summary{
            text-align:center;
        }
        .summary img {
            width :50px;
            height :50px;
        }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {
            $(".summary").html("<img src='@Url.Content("~/Content/img/spin.gif")' />");
            var url = $(".summary").data('get');
            var data = {
                datefrom : '@DateTime.Now.ToShortDateString()',
                dateto: '@DateTime.Now.ToShortDateString()'
            };
            setTimeout(function () {
                $.get(url,data, function (res) {
                    $('.summary').html(res);
                });
            }, 1000);
            
        });
    </script>    
}

@section footer{
    @Html.Partial("footer")
}

