
@{
    ViewBag.Title = "FundSource";
}


<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <table class="table table-bordered">
                <tr style="background-color:#D5DBDB;">
                    <th class="text-center">Fund Source Code</th>
                    <th class="text-center">Fund Source Title</th>
                    <th class="text-center">Action</th>
                    <th class="text-center">Permanently Delete</th>
                </tr>
                @foreach (FundSourceHdr data in Model)
                {
                    <tr>
                        <td class="col-md-2"><a style="color:#071D47;font-weight:bold;">@data.Code</a></td>
                        <td class="col-md-4"><a style="color:#071D47;font-weight:bold;">@data.SourceTitle</a></td>
                        <td class="col-md-5">
                            <select id="status" class="form-control @(data.active == 1 ? " text-success" : " text-danger" )" data-fundsource="@data.ID" data-url="@Url.Action("FundSource","RemovedData")">
                                <option @(data.active == 1 ? " selected" : "" ) value="1">Enabled</option>
                                <option @(data.active == 0 ? " selected" : "" ) value="0">Disabled</option>
                            </select>
                        </td>
                        <td class="col-md-5">
                            <a href="@Url.Action("DeleteFundSource","RemovedData", new { ID = data.ID })" class="btn btn-danger" onclick="return confirm('Are you sure you want continue this action ?');"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#status').change(function () {
                var fundsource = $(this).data('fundsource');
                var status = $(this).val();
                var url = $(this).data('url');
                
                $.post(url, { status: status, fundsource: fundsource }, function () {
                });
            });
        })
</script>     
}

@section footer{
    @Html.Partial("footer")
}
