
@{
    ViewBag.Title = "FundSource";
}


<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <table class="table table-bordered">
                <tr style="background-color:#D5DBDB;">
                    <th class="text-center">Fund Source Code</th>
                    <th class="text-center">Fund Source Title</th>
                    <th class="text-center">Action</th>
                </tr>
                @foreach (FundSourceHdr data in Model)
                {
                    <tr>
                        <td class="col-md-2"><a style="color:#071D47;font-weight:bold;" href="@Url.Action("EditFundSource","Allotments", new { id = data.ID })">@data.Code</a></td>
                        <td class="col-md-4"><a style="color:#071D47;font-weight:bold;" href="@Url.Action("EditFundSource","Allotments", new { id = data.ID })">@data.SourceTitle</a></td>
                        <td class="col-md-5">
                            <input class="toggle_status" type="checkbox" @(data.active == 1 ? "checked='checked'" : "" ) data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger" data-status="@data.active" data-fundsource="@data.ID" data-url="@Url.Action("FundSource","RemovedData")">
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('.toggle_status').change(function () {
                var fundsource = $(this).data('fundsource');
                var status = $(this).data('status');
                var url = $(this).data('url');

                if (status == 1)
                    $(this).data('status', 0);
                else
                    $(this).data('status', 1);

                $.post(url, { status: $(this).data('status'), fundsource: fundsource }, function () {
                });

            });
        })
</script>     
}

@section footer{
    @Html.Partial("footer")
}
