
@{
    ViewBag.Title = "Removed data access";
}

<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <table class="table table-bordered">
                <tr style="background-color:#D5DBDB;">
                    <th>Allotment Code</th>
                    <th>Allotment Title</th>
                    <th>For Fund Source</th>
                    <th>For Sub-Allotment</th>
                    <th class="text-center">*</th>
                    <th class="text-center">Remove Permanently</th>
                </tr>
                @foreach (Allotments data in Model)
                {
                    <tr>
                        <td><span style="color:#071D47;font-weight:bold;">@data.Code</span></td>
                        <td><span style="color:#071D47;font-weight:bold;">@data.Title</span></td>
                        <td>
                            <a href="@Url.Action("FundSource","RemovedData",new { id = data.ID })" class="btn btn-default text-success"><span class="glyphicon glyphicon-arrow-right"></span> List of fund source</a>
                        </td>
                        <td>
                            <a href="@Url.Action("SubAllotment","Allotments", new { allotment = data.ID })" class="btn btn-default text-primary"><span class="glyphicon glyphicon-plus"></span> Sub-Allotment</a>
                        </td>
                        <td>
                            <select  id="status" class="form-control @(data.active == 1 ? " text-success" : " text-danger" )" onchange="status(this);" data-allotment="@data.ID" data-url="@Url.Action("Allotment","RemovedData")">
                                <option @(data.active == 1 ? " selected" : "" ) value="1">Enabled</option>
                                <option @(data.active == 0 ? " selected" : "" ) value="0">Disabled</option>
                            </select>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="@Url.Action("DeleteAllotment","RemovedData", new { ID = data.ID })" onclick="return confirm('Are you sure you want continue this action ?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function status(el)
        {
            var allotment = $(el).data('allotment');
            var url = $(el).data('url');
            var status = $(el).val();
            $.post(url, { status: status, allotment: allotment }, function () {
            });
        }
    </script>    
}

@section footer{
    @Html.Partial("footer")
}