@model FundSourceHdr
@{
    BudgetDB db = new BudgetDB();
    var prexc = (from list in db.prexc select list).ToList();
}
@{
    ViewBag.Title = ViewBag.Menu;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning" style="margin-top:10px;">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Edit Budget Source
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-xs"  aria-expanded="false" id="submit">
                                <span class="glyphicon glyphicon-save"></span>
                                Save Changes
                            </button>
                            <a href="@Url.Action("FundSource","Allotments",new { id = GlobalData.allotment })" class="btn btn-danger btn-xs">Exit</a>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="@Url.Action("SaveEditFundSource","Allotments")" method="post" id="source_form">
                                @Html.AntiForgeryToken()
                                <table class="table">
                                    <tr>
                                        <td>PREXC CODE</td>
                                        <td>
                                            <select name="prexcode" class="form-control" id="prexcode">
                                                <option value="">SELECT PREXC CODE</option>
                                                @foreach (PREXC p in prexc)
                                                {
                                                    <option value="@p.Code1" @( p.Code1 == Model.prexc ? " selected" : " " )>@p.Desc</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Title</td>
                                        <td><input type="text" name="source_title" id="source_title" placeholder="Fund Source Title" class="form-control" value="@Model.SourceTitle" required /></td>
                                    </tr>
                                    <tr>
                                        <td>Title Code</td>
                                        <td><input type="text" name="title_code" id="title_code" placeholder="Title Code" class="form-control" value="@Model.Code" required /></td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td><input type="text" name="description" id="description" placeholder="Description" class="form-control" value="@Model.desc" required" /></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="table" data-expense="@Url.RouteUrl("get_expense_codes_number")" data-get="@Url.RouteUrl("get_fund_source_expense")" data-delete="@Url.RouteUrl("delete_fund_source_amount")" data-id="@Model.ID" data-suballotment="@Url.Action("ExpenseSuballotment","Allotments")" data-realignment="@Url.Action("ExpenseRealignment","Allotments")"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("footer")
}


@section scripts {
    <script>
       var expense_codes = [];
       var container = document.getElementById("table");
       var table;
       var valid = true;
       var expense_url = $("#table").data('expense');
       table = new Handsontable(container, {
           startRows: 50,
           startCols: 4,
           manualColumnResize: true,
           rowHeaders: true,
           colWidths: [1, 200, 300, 300],
           stretchH: 'all',
           colHeaders: true,
          
           manualColumnMove: true,
           fillHandle: {
               autoInsertRow: false,
           },
           colHeaders: ['ID','UACS','Title','Amount'],
           columns : [
              {}, { type: 'dropdown', source: expense_codes }, {}, {}
           ],
           contextMenu: {
               items: {
                   "Allotment": {
                       name: 'Allotment',
                       callback: function (key, options) {
                           var selection = this.getSelectedRange();
                           var fromRow = Math.min(selection.from.row, selection.to.row);
                           var tempdata = this.getData();
                           var uacs = tempdata[fromRow][1];
                           
                           if (uacs) {
                               var fundsource = $("#table").data('id');
                               var url = $("#table").data('suballotment');

                               $("#ors_modal").modal({
                                   backdrop: 'static',
                                   keyboard: false,
                                   show: true
                               });
                               $(".ors_body").html('');
                               $(".loading").show();
                               $.get(url ,{ fundsource : fundsource, uacs : uacs }, function (res) {
                                   $(".ors_body").html(res);
                                   $(".loading").hide();
                               });
                           }
                       }
                   },
                   "Realignment" : {
                       name: 'Realignment',
                       callback: function (key, options) {
                           var selection = this.getSelectedRange();
                           var fromRow = Math.min(selection.from.row, selection.to.row);
                           var tempdata = this.getData();
                           var uacs = tempdata[fromRow][1];
                           if (uacs) {
                               
                               var url = $("#table").data('realignment');
                               var fundsource = $("#table").data('id');

                               $("#ors_modal").modal({
                                   backdrop: 'static',
                                   keyboard: false,
                                   show: true
                               });

                               $(".ors_body").html('');
                               $(".loading").show();
                               $.get(url,  function (res) {
                                   $(".ors_body").html(res);
                                   $(".loading").hide();
                               });
                           }
                       }
                   },
                   "row_below": {}, "remove_row": {},

               }
           },
           cells: function (r, c, prop) {
               var cellProperties = {};
               if (c === 0 || c === 2) cellProperties.readOnly = true;
               return cellProperties;
           },
           beforeRemoveRow: function (index, column) {
               var items = this.getData();
               var row_item = items[index];
               var url = $("#table").data('delete');

               var ps = {
                   "ID": row_item[0]
               };
               var data = {
                   data: JSON.stringify(ps)
               };
               $.post(url, data, function (resdata) {
                   alert("Row was removed.");
                   items = table.getData();
                   console.log(items.length);
                   if (items.length <= 0) {
                       alert("Creating new row");
                       var tabledata = [];
                       tabledata[0] = new Array(null, null, null, null);
                       table.loadData(tabledata);
                   }
               });
           }
       });
       $(document).ready(function () {
           var fsh = $("#table").data('id');
           var data = {
               fsh: fsh
           };
           var url = $("#table").data('get');
           $.get(url, data, function (resdata) {
               if (resdata.length > 0) {
                   var tabledata = [];
                   var total;
                   for (var i = 0; i < resdata.length; i++) {
                       tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['ExpenseCode'], resdata[i]['Title'], numberWithCommas(resdata[i]['Amount']));
                   }
                   table.loadData(tabledata);
               }
           });

           $.get(expense_url, function (expense_res) {
               if (expense_res.length > 0) {
                   for (var i = 0; i < expense_res.length; i++) {
                       expense_codes[i] = expense_res[i]["Code"];
                   }
               }
           });
       });
       $("#submit").click(function () {
           $("#loading_modal").modal('show');
           var ID = $("#table").data('id');
           var prexc = $("#prexcode").val();
           var source_title = $("#source_title").val();
           var description = $("input[name='description']").val();
           var save_url = $("#source_form").attr('action');
           var title_code = $("#title_code").val();
           var tabledata = table.getData();
           var expense = [];
           for (var i = 0; i < tabledata.length; i++) {
               expense[i] = {
                   "ID": tabledata[i][0],
                   "expense_code": tabledata[i][1],
                   "amount": tabledata[i][3]
               };
           }
           var data = {
               ID : ID,
               prexcode: prexc,
               source_title: source_title,
               description: description,
               title_code : title_code,
               data: JSON.stringify(expense)
           };
           $.post(save_url, data, function (res) {
               //$(".panel-body").html(res);
               window.location.href = res;
               $("#loading_modal").modal('hide');
           });
       });
    </script>
}
