@model IEnumerable<FundSourceHdr>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Message</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="@Url.Action("CreateFundSource","Allotments")" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create Fund Source</a>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="@Url.Action("Index","Allotments", new { id = GlobalData.allotment })" class="btn btn-warning">
                               <span class="glyphicon glyphicon-arrow-left"></span> Back
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Title Code</th>
                            <th>Action</th>
                        </tr>
                        @foreach (FundSourceHdr data in Model)
                        {
                            <tr>
                                <td style="font-size:1em;">@data.SourceTitle</td>
                                <td style="font-size:1em;">@data.Code</td>
                                <td>
                                    <a href="@Url.Action("EditFundSource","Allotments", new { id = data.ID })" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                    <a href="@Url.Action("DeleteFundSource","Allotments",new { id = data.ID })" class="btn btn-danger" onclick="return confirm('Do you want to delete this budget');"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                </td>
                               
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

