@model IEnumerable<FundSourceHdr>
@{
    BudgetDB db = new BudgetDB();
    var ors_heads = db.ors_head_request.ToList();
    ViewBag.Title = "Allotment Fund Source";
}

<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <h2>@ViewBag.Message</h2>
            <table class="table">
                <tr>
                    <td>
                        <a href="@Url.Action("CreateFundSource","Allotments")" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add new</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Index","Allotments", new { id = GlobalData.allotment })" class="btn btn-warning pull-right">
                            <span class="glyphicon glyphicon-arrow-left"></span> Back to Allotments
                        </a>
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr style="background-color:#D5DBDB;">
                    <th class="text-center">Fund Source Code</th>
                    <th class="text-center">Fund Source Title</th>
                    <th class="text-center">ORS Head</th>
                    <th class="text-center">Action</th>
                    <th class="text-center">Realignment</th>
                </tr>
                @foreach (FundSourceHdr data in Model)
                {
                    <tr>
                        <td class="col-md-2"><a style="color:#071D47;font-weight:bold;" href="@Url.Action("EditFundSource","Allotments", new { id = data.ID })">@data.Code</a></td>
                        <td class="col-md-4"><a style="color:#071D47;font-weight:bold;" href="@Url.Action("EditFundSource","Allotments", new { id = data.ID })">@data.SourceTitle</a></td>
                        <td class="col-md-4">
                            <select name="ors_head" data-fsh="@data.ID" id="ors_head" class="form-control" onchange="ors_head(this);" data-url="@Url.Action("ORS_HEAD","Allotments")">
                                <option value="" selected disabled>Select an ORS Head</option>

                                @foreach (ors_head_request ors_head in ors_heads)
                                {
                                    <option value="@ors_head.ID" @(data.ors_head == ors_head.ID ? "selected" : "" )>@ors_head.Name</option>
                                }
                            </select>
                        </td>
                        <td class="col-md-5">
                            <a href="@Url.Action("EditFundSource","Allotments", new { id = data.ID })" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <a href="@Url.Action("DeleteFundSource","Allotments",new { id = data.ID })" class="btn btn-danger btn-sm" onclick="return confirm('Do you want to delete this budget');"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </td>
                        <td class="col-md-4"><a href="@Url.Action("Realignment","Allotments", new { fundsource = data.ID })" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span> Funds Realignment</a></td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

@section scripts {
    <script>
        function ors_head(el) {
            var fsh = $(el).data('fsh');
            var ors_head = $(el).val();
            var url = $(el).data('url');
            var data = {
                fsh: fsh,
                ors_head : ors_head
            };
            $.post(url, data, function (res) {
            });
        }
    </script>
}
@section footer{
    @Html.Partial("footer")
}
