@model IEnumerable<Allotments>
@{
    ViewBag.Title = "Index";
}

<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <h2>@GlobalData.Year Budget Allotments</h2>
            <a href="@Url.Action("Create","Allotments")" class="btn btn-success pull-right" style="margin-bottom:10px;"><span class="glyphicon glyphicon-plus" ></span> Add new</a>
            <table class="table table-bordered">
                <tr style="background-color:#D5DBDB;">
                    <th>Allotment Code</th>
                    <th>Allotment Title</th>
                    <th>For Fund Source</th>
                    <th>For Sub-Allotment</th>
                    <th class="text-center">*</th>
                </tr>
                @foreach (Allotments data in Model)
                {
                    <tr>
                        <td><span style="color:#071D47;font-weight:bold;">@data.Code</span></td>
                        <td><span style="color:#071D47;font-weight:bold;">@data.Title</span></td>
                        <td>
                            <a href="@Url.Action("FundSource","Allotments",new { id = data.ID })" class="btn btn-default text-success"><span class="glyphicon glyphicon-arrow-right"></span> List of fund source</a>
                        </td>
                        <td>
                            <a href="@Url.Action("SubAllotment","Allotments", new { allotment = data.ID })" class="btn btn-default text-primary"><span class="glyphicon glyphicon-plus"></span> Sub-Allotment</a>
                        </td>
                        <td>

                            <a href="@Url.Action("EditBudget","Allotments", new { id = data.ID })" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> <span class="text-info">Edit</span></a>
                            <a href="@Url.Action("Delete","Allotments",new { id = data.ID })" class="btn btn-default text-danger" onclick="return confirm('Do you want to delete this budget');"><span class="glyphicon glyphicon-trash"></span> <span class="text-danger">Delete</span></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@section footer{
    @Html.Partial("footer")    
}

