@model IEnumerable<ORSMaster>
@{
    ViewBag.Title = "ORS List";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>@GlobalData.Year ORS</h2>
            <div class="panel panel-default">
                <div class="panel-heading"><a href="@Url.Action("CreateOrs","Allotments")" class="btn btn-success">Add new ORS</a></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                        @foreach (ORSMaster data in Model)
                        {
                            <tr>
                                <td style="font-size:1em;">@data.Title</td>
                                <td>
                                    <a href="@Url.Action("OrsItem","Ors",new { id = data.ID })" class="btn btn-success">View</a>
                                    <a href="@Url.Action("EditOrs","Allotments",new { ID = data.ID })" class="btn btn-info">Update</a>
                                    <a href="@Url.Action("DeleteOrs","Allotments",new { id = data.ID })" class="btn btn-danger" onclick="return confirm('Do you want to delete this budget');">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

