
@{
    ViewBag.Title = "Sub-Allotment";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Header</h2>
            <div class="panel panel-info">
                <div class="panel-heading"><a href="@Url.Action("CreateSubAllotment","Allotments")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new Sub-Allotment</a></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                        @foreach(SubAllotmentHeader saahdr in Model)
                        {
                            <tr>
                                <td>@saahdr.Title</td>
                                <td>@saahdr.prexc</td>
                                <td>
                                    <a href="@Url.Action("EditSubAllotment","Allotments", new { ID = saahdr.ID})" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                    <a href="@Url.Action("DeleteSubAllotment","Allotments", new { ID = saahdr.ID })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>