@{
    BudgetDB db = new BudgetDB();
    var ors_heads = db.ors_head_request.ToList();
    ViewBag.Title = "Sub - Allotment";
}

<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <h2>@ViewBag.Header</h2>
            <table class="table">
                <tr>
                    <td>
                        <a href="@Url.Action("CreateSubAllotment", "Allotments")" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add new Sub-Allotment</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Index","Allotments", new { id = GlobalData.allotment })" class="btn btn-warning pull-right">
                            <span class="glyphicon glyphicon-arrow-left"></span> Back
                        </a>
                    </td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr style="background-color:#D5DBDB;">
                    <th class="text-center">Sub Allotment Code</th>
                    <th class="text-center">Sub Allotment Title</th>
                    <th class="text-center">ORS Head</th>
                    <th class="text-center">Action</th>
                    <th class="text-center">Realignment</th>
                </tr>
                @foreach (FundSourceHdr fsh in Model)
                {
                    <tr>
                        <td style="color:#071D47;font-weight:bold;" class="col-md-2">@fsh.Code</td>
                        <td style="color:#071D47;font-weight:bold;" class="col-md-4">@fsh.SourceTitle</td>
                        <td class="col-md-4">
                            <select name="ors_head" data-fsh="@fsh.ID" id="ors_head" class="form-control" onchange="ors_head(this);" data-url="@Url.Action("ORS_HEAD","Allotments")">
                                <option value="" selected disabled>Select an ORS Head</option>

                                @foreach (ors_head_request ors_head in ors_heads)
                                {
                                    <option value="@ors_head.ID" @(fsh.ors_head == ors_head.ID ? "selected" : "" )>@ors_head.Name</option>
                                }
                            </select>
                        </td>
                        <td class="col-md-3">
                            <a href="@Url.Action("EditSubAllotment","Allotments", new { ID = fsh.ID})" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <a href="@Url.Action("DeleteSubAllotment","Allotments", new { ID = fsh.ID })" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?')"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </td>
                        <td><a href="@Url.Action("Realignment","Allotments", new { fundsource = fsh.ID })" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span> Funds Realignment</a></td>
                    </tr>
                }
            </table>
            
        </div>
    </div>
</div>


@section scripts {
    <script>
        function ors_head(el) {
            var fsh = $(el).data('fsh');
            var ors_head = $(el).val();
            var url = $(el).data('url');
            var data = {
                fsh: fsh,
                ors_head : ors_head
            };
            $.post(url, data, function (res) {
            });
        }
    </script>
}
@section footer{
    @Html.Partial("footer")
}