@model HomeViewModel
@using System.Globalization;
@{
    ViewBag.Title = "Home";
}


<div class="navbar-default sidebar" role="navigation" style="background-color:white;">
    <div class="sidebar-nav navbar-collapse">
        
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <h4>ORS Entries</h4>
                </div>
                <!-- /input-group -->
            </li>
            @foreach (Allotments allotment in Model.allotments)
            {
                <li>
                    <a href="@Url.Action("OrsItem","Ors",new { ID = allotment.ID })"><i class="fa fa-tasks fa-fw"></i>ORS @allotment.Code</a>
                </li>
            }
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@GlobalData.Year Budget Allotment</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                @foreach (Allotments a in Model.allotments)
                {
                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-eur fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <div class="huge">@a.Code</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        @{
                                            DateTime datenow = DateTime.Now;
                                            Double after_realignment = 0.00;
                                            Double AsOfCurrentDate = 0.00;
                                            AllotmentBalance.AllotmentTotalRealignment(a.ID, out after_realignment, out AsOfCurrentDate);

                                            Double percent = ((AsOfCurrentDate - after_realignment) / after_realignment) * 100;
                                            percent = Math.Round(Math.Abs(percent),2);
                                        }

                                        <div>After Realignment : @after_realignment.ToString("N", new CultureInfo("en-US")) </div>
                                        <div>Disbursement as of  @datenow.ToString("MMMM") : @AsOfCurrentDate.ToString("N", new CultureInfo("en-US")) </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width:@(percent+"%")">
                                        @percent % 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
             <!--
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Fund Source</h1>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    @foreach (Allotments a in Model.allotments)
                    {
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <p>@a.Code</p>
                            </div>
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
                -->
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell"></i> Notification Panel
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                @foreach (Notifications n in Model.notifications)
                                {
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img height="50" width="50" src="@Url.Content("~/Content/img/user.png")" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">
                                                    
                                                    @{
                                                        switch (n.status)
                                                        {
                                                            case "delete":
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                break;
                                                            case "add":
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                                break;
                                                            default:
                                                                <span class="glyphicon glyphicon-star"></span>
                                                                break;
                                                        }
                                                    }
                                                    @n.User
                                                </strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> @n.DateAdded
                                                </small>
                                            </div>
                                            <p>
                                                <b></b>@n.Message @n.Action <b>@n.Module</b>
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- /#page-wrapper -->


@section footer{
    @Html.Partial("footer")
}