@{
    ViewBag.Title = "Users Management";
}

<div class="alert">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-rex">
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> User Management
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-xs" id="add_new" data-toggle="dropdown" aria-expanded="false" data-url="@Url.Action("Add","UserAccount")">
                                Add new
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr style="background-color:#D5DBDB;">
                            <th class="col-md-1">User Logins</th>
                            <th class="col-md-1">Option</th>
                            <th class="col-md-1"></th>
                        </tr>
                        @foreach (var a in Model)
                        {
                            <tr>
                                <td><span style="color:#071D47;font-weight:bold;">@a.UserName</span></td>
                                <td>
                                    <button class="btn btn-warning" data-url="@Url.Action("Update","UserAccount",new { userId = a.Id })" onclick="Update(this);">Update</button>
                                    <a class="btn btn-danger" href="@Url.Action("Delete","UserAccount",new { userId = a.Id })" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                                </td>
                                <td>
                                    <a class="btn btn-info" data-url="@Url.Action("ResetPassword","UserAccount",new { userid = a.Id })" onclick="Reset(this);">Reset Password</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#add_new").click(function () {
            $("#page_modal").modal('show');
            $(".modal_body").html('');
            $(".loading").show();
            var url = $(this).data('url');
            $.get(url, function (res) {
                $(".modal_body").html(res);
                $(".loading").hide();
            });
        });
        function Update(el)
        {
            $("#page_modal").modal('show');
            $(".modal_body").html('');
            $(".loading").show();
            var url = $(el).data('url');
            $.get(url, function (res) {
                $(".modal_body").html(res);
                $(".loading").hide();
            });
        }
        function Reset(el)
        {
            $("#page_modal").modal('show');
            $(".modal_body").html('');
            $(".loading").show();
            var url = $(el).data('url');
            $.get(url, function (res) {
                $(".modal_body").html(res);
                $(".loading").hide();
            });
        }
    </script>
}
