

<h3>Update new user logins</h3>
<form action="@Url.Action("Update","UserAccount")" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" required value="@Model.UserName" />
    </div>
    <div class="form-group">
        <label for="role">User Role</label>
        <select name="role" required class="form-control">
            <option value="" selected>-- Select User role --</option>
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.Name" @(ViewBag.UserRole == role.Name ? " selected" : "")>@role.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>