
@{
    ViewBag.Title = "Fund Sources";
}


<div id="table" data-get="@Url.RouteUrl("get_fund_source")" data-save="@Url.RouteUrl("save_fund_source")" data-delete="@Url.RouteUrl("delete_fund_source")" data-expense="@Url.RouteUrl("get_expense_codes_number")" data-prexc="@Url.RouteUrl("get_prexc_number")"></div>

@section scripts {
    <script>
       var expense_codes = [];
       var prexc_numbers = [];
       var container = document.getElementById("table");
       var table;
       var valid = true;
       var expense_url = $("#table").data('expense');
       var prexc_url = $("#table").data('prexc');
        //35 cols
       table = new Handsontable(container, {
           startRows: 50,
           startCols: 5,
           manualColumnResize: true,
           rowHeaders: true,
           colWidths: [100,500,200,200,200],
           colHeaders: true,
           contextMenu: ['row_below','row_above','remove_row','copy'],
           manualColumnMove: true,
           fillHandle: {
               autoInsertRow: false,
           },
           colHeaders: ['ID', 'FUND SOURCE TITLE', '<b>TITLE ABBREVIATION</b>', '<b>UACS EXPENSE CODES</b>','PREXC CODES'],
           columns: [
               {},
               {},
               {},
               { type: 'dropdown', source: expense_codes },
               { type : 'dropdown', source : prexc_numbers }
           ],
           cells: function (r, c, prop) {
               var cellProperties = {};
               if (c === 0) cellProperties.readOnly = true;
               return cellProperties;
           },
           beforeRemoveRow: function (index, column) {
               var items = this.getData();
               var row_item = items[index];
               var url = $("#table").data('delete');

               var ps = {
                   "ID": row_item[0]
               };
               var data = {
                   data: JSON.stringify(ps)
               };
               $.post(url, data, function (resdata) {
                   if (resdata.length > 0) {
                       var tabledata = [];
                       var total;
                       table.loadData(tabledata);
                   }
               });
           },
           afterValidate: function (isValid, value, row, prop, source) {
               if (!isValid) {
                   valid = false;
                   alert('there exists an invalid cell, disable save');
               } else { valid = true;}
           },
       });


       $(document).ready(function () {
           var url = $("#table").data('get');
           $.get(url, function (resdata) {
               if (resdata.length > 0) {
                   var tabledata = [];
                   var total;
                   for (var i = 0; i < resdata.length; i++) {
                       tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['SourceTitle'], resdata[i]['ABR'], resdata[i]['uacs'],resdata[i]['prexc']);
                   }
                   table.loadData(tabledata);
               }
           });
           $.get(expense_url, function (expense_res) {
               if (expense_res.length > 0) {
                   for (var i = 0; i < expense_res.length; i++) {
                       expense_codes[i] = expense_res[i]["Code"];
                   }
               }
           });
           $.get(prexc_url, function (prexc_res) {
               if (prexc_res.length > 0) {
                   for (var i = 0; i < prexc_res.length; i++) {
                       prexc_numbers[i] = prexc_res[i]["prexc"];
                   }
               }
           });
        });


       $(window).bind('keydown', function (event) {
           if (event.ctrlKey || event.metaKey) {
               switch (String.fromCharCode(event.which).toLowerCase())
               {
                   case 's':
                       event.preventDefault();
                       document.body.style.cursor = 'wait';
                       if (valid == true) {
                           var url = $("#table").data('save');
                           var fund = [];
                           var data = table.getData();
                           for (var i = 0; i < data.length; i++) {
                               fund[i] = {
                                   "ID": data[i][0],
                                   "SourceTitle": data[i][1],
                                   "ABR": data[i][2],
                                   "uacs": data[i][3],
                                   "prexc" :data[i][4]
                               };
                           }
                           var data = {
                               data: JSON.stringify(fund)
                           };

                            $.post(url, data, function (resdata) {
                                if (resdata.length > 0) {
                                    var tabledata = [];
                                    var total;
                                    for (var i = 0; i < resdata.length; i++) {
                                        tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['SourceTitle'], resdata[i]['ABR'], resdata[i]['uacs'], resdata[i]['prexc']);
                                    }
                                    table.loadData(tabledata);
                                }
                                document.body.style.cursor = 'default';
                            });
                       } else {
                           alert("Failed to save because theres an ivalid data inputed. See the color red in each rows to indentify errors.");
                       }
                   break;
               }
           }
       });

    </script>
}
